<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <application
        tools:replace="android:allowBackup"
        android:name=".DemoApp"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/ic_launcher_round"

        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"

        android:supportsRtl="true"
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.DemoApp">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".tutorial.TutorialActivity" />
        <activity android:name=".registrationLogin.LoginActivity" />
        <activity android:name=".registrationLogin.VerificationCodeActivity" />
        <activity android:name=".registrationLogin.RegistrationActivity" >

        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme"
                    />
            </intent-filter>
        </activity>
        <activity android:name=".home.HomeActivity">

        </activity>
        <activity android:name=".carDetails.CarDetailsActivity"
            />

        <activity android:name=".home.profile.MyDemoActivity"
            />
        <activity android:name=".faq.FAQActiviity"
            />
        <activity android:name=".launch.LaunchActivity"
           />
        <activity android:name=".news.NewsActivity"
           />
        <activity android:name=".rewards.s.RewardsActivity" />
        <activity android:name=".news.NewsPagerActivity" />
        <activity android:name=".utils.CometChatCallActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/TransparentCompat"
            android:exported="false">
            <intent-filter>
                <action android:name="utils.CometChatCallActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".utils.comectChat.call_manager.CometChatStartCallActivity" />
        <activity android:name=".home.profile.MyProfileActivity" />
        <activity android:name=".registrationLogin.TncWebiewActivity"
            android:noHistory="true"/>

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7Q-gn8GliPXURZP95eS-ggR3FhvvC6o8" />
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="AIzaSyA7Q-gn8GliPXURZP95eS-ggR3FhvvC6o8" />
        <meta-data android:name="com.google.android.gms.appstate.APP_ID" android:value="AIzaSyA7Q-gn8GliPXURZP95eS-ggR3FhvvC6o8" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@mipmap/app_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".utils.statusJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:name=".utils.CallNotificationAction" />
        <receiver android:name=".home.booking.MyLocalReceiver"/>
        <receiver android:name=".home.booking.My15MinutesLocalReceiver"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>